.content{
    display: flex;
}

.inline-frame {
    width: 85vw;
    height: 88vh;
}

.inputs{
    display: flex;
    flex-flow: column;

    &__label{
        width: 22vw;
    }
}

@media (min-width: 600px) {
    *{
        border: 1px solid aquamarine;
    }
}

@media (min-width: 1024px) {
    *{
        border: 1px solid greenyellow;
    }
}